


.header{
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 1;

    background-color: rgb(185, 217, 224);
    padding: 20px;
    box-shadow: 0 0px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;  
    position: -webkit-sticky;
   
   
}
.navbar-nav{
    margin-left: 200px;
}

.header:hover{
    box-shadow: 3px 8px 12px 0 rgba(0,0,0,0.2);
}

.nav-link{
    border: 1px solid gray;
    margin: 10px;
    border-radius: 10px;
}
.nav-item{
    border: 1px solid gray;
    margin: 10px;
    border-radius: 10px;
}

.nav-item:hover{
    box-shadow: 3px 8px 12px 0 rgba(0,0,0,0.2);
}







